body {
    background-color: #FFFFFF;
}

.logoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    
}

.indexButtons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.playPause {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.card-menu-button {
    float: right;    
}

.card-run-name {
    float: left;
    font-size: 40px;
}

.card-run-date {
    margin-top: 10px;
    font-size: 20px;
    
}

.mdl-grid {
    max-width: 500px;
}

